<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">

<html lang="en">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,600" rel="stylesheet">
		<title></title>
	</head>
	<body style="margin:0; padding:0; background-color:#F2F2F2;">
		<center>
			<table width="100%" border="0" cellpadding="0" cellspacing="0" bgcolor="#F2F2F2">
				<tr>
					<td align="center" valign="top">
						<img src="https://github.aig.net/raw/Digital/quickbillpay/develop/src/main/resources/pcgbillpay-email-top-banner.png" width="550" height="160" alt="AIG logo" />
						<table width="550" cellpadding="0" cellspacing="0" border="0" bgcolor="#FFFFFF">
							<tr>
								<td height="48" style="font-size:48px; line-height:48px;">&nbsp;</td>
							</tr>
							<tr>
								<td align="center" valign="top">
									<table width="454" cellpadding="0" cellspacing="0" border="0" class="container">
										<tr>
											<td valign="top" style="font-family: 'Source Sans Pro', sans-serif; font-size:28px; font-weight:300; line-height: 32px; color:#52555A; letter-spacing:.02rem; ">
												AIG Private Client Group
											</td>
										</tr>
										<tr>
											<td height="8" style="font-size:8px; line-height:8px;">&nbsp;</td>
										</tr>

										<tr>
											<td height="12" style="font-size:12px; line-height:12px;">
												<div style="border-bottom: 3px solid #FDB913; display:inline-block; width:140px; ">&nbsp; </div>
											</td>
										</tr>
										<tr>
											<td height="40" style="font-size:40px; line-height:40px;">&nbsp;</td>
										</tr>
										<tr>
											<td valign="top" style="font-family: 'Source Sans Pro', sans-serif; font-size:18px; font-weight:300; line-height:24px; color:#52555A;letter-spacing:.02rem; ">
												Thank you for the payment of <span style="font-weight:600;">${{paymentAmount}}</span>.
											</td>
										</tr>
										<tr>
											<td height="8" style="font-size:8px; line-height:8px;">&nbsp;</td>
										</tr>
										<tr>
											<td valign="top" style="font-family: 'Source Sans Pro', sans-serif; font-size:18px; font-weight:300; line-height:24px; color:#52555A;letter-spacing:.02rem; ">
											  Payments on accounts with lapsed or cancelled policies do not guarantee reinstatement.
											</td>
										</tr>
										<tr>
											<td height="40" style="font-size:40px; line-height:40px;">&nbsp;</td>
										</tr>
                    <tr>
											<td valign="top" style="font-family: 'Source Sans Pro', sans-serif; font-size:18px; font-weight:600; line-height:24px; color:#52555A;letter-spacing:.02rem; ">
												Payment Information
											</td>
										</tr>
										<tr>
											<td height="24px" style="font-size:24px; line-height:24px;">&nbsp;</td>
										</tr>
										<tr>
											<td valign="top">
												<table cellspacing="0" cellpadding="0" border="0" width="60%">
													<tr>
													  <td style="font-family: 'Source Sans Pro', sans-serif; font-size:18px; font-weight:600; line-height:24px; color:#52555A; letter-spacing:.02rem; ">
															Billing Account
														</td>
													  <td align="right"  style="font-family: 'Source Sans Pro', sans-serif; font-size:18px; font-weight:600; line-height:24px; color:#52555A; letter-spacing:.02rem;">
															Amount
														</td>
													</tr>
													{{#each paymentDetails}}
                                                        <tr>
                                                            <td style="font-family: 'Source Sans Pro', sans-serif; font-size:18px; font-weight:300; line-height:24px; color:#52555A; letter-spacing:.02rem;">
																														  {{billingAccountNumber}}
                                                            </td>
                                                            <td align="right"  style="font-family: 'Source Sans Pro', sans-serif; font-size:18px; font-weight:300; line-height:24px; color:#52555A; letter-spacing:.02rem; ">
																															${{amount}}
                                                            </td>
                                                        </tr>
													{{/each}}
												</table>
												<table>
													<tr>
														<td height="16" style="font-size:16px; line-height:16px;">&nbsp;</td>
													</tr>
												</table>
												<table cellspacing="0" cellpadding="0" border="0" width="60%">
													<tr>
														<td style="font-family: 'Source Sans Pro', sans-serif; font-size:18px; font-weight:600; line-height:24px; color:#52555A; letter-spacing:.02rem; ">
															 Payment:
														</td>
														<td align="right" style="font-family: 'Source Sans Pro', sans-serif; font-size:18px; font-weight:600; line-height:24px; color:#52555A; letter-spacing:.02rem;">
															 ${{paymentAmount}}
														</td>
													</tr>
												</table>
											</td>
										</tr>
										<tr>
											<td height="24px" style="font-size:24px; line-height:24px;">&nbsp;</td>
										</tr>
										<tr>
											<td valign="top" style="font-family: 'Source Sans Pro', sans-serif; font-size:18px; font-weight:300; line-height:24px; color:#52555A;letter-spacing:.02rem; ">
												Date payment submitted:  <span style="font-weight:600">{{paymentDate}}</span>
											</td>
										</tr>
										<tr>
											<td valign="top" style="font-family: 'Source Sans Pro', sans-serif; font-size:18px; font-weight:300; line-height:24px; color:#52555A;letter-spacing:.02rem; ">
												{{selectedPaymentMethod}} card ending in:  <span style="font-weight:600">{{bankAccountNumber}}</span>
											</td>
										</tr>
										<tr>
											<td valign="top" style="font-family: 'Source Sans Pro', sans-serif; font-size:18px; font-weight:300; line-height:24px; color:#52555A;letter-spacing:.02rem; ">
												Confirmation number:  <span style="font-weight:600">{{confirmationNumber}}</span>
											</td>
										</tr>
										<tr>
                                        											<td height="32px" style="font-size:32px; line-height:32px;">&nbsp;</td>
                                        										</tr>
                                        											<tr>
                                        											<td valign="top" style="font-family: 'Source Sans Pro', sans-serif; font-size:18px; font-weight:300; line-height:24px; color:#52555A;letter-spacing:.02rem; ">
                                        												If you have questions about this payment or need assistance, contact our support line at <span style="font-weight:600;">{{supportPhoneNumber}}</span> (Mon - Fri, 8 am to 8:30 pm ET), or send an email at <span style="font-weight:600;">{{supportEmail}}</span>. Please allow 1 business day for an email response.
                                        											</td>
                                        										</tr>
                                        										<tr>
                                        											<td height="32px" style="font-size:32px; line-height:32px;">&nbsp;</td>
                                        										</tr>

                                        										<tr>
                                        											<td valign="top" style="font-family: 'Source Sans Pro', sans-serif; font-size:18px; font-weight:300; line-height:24px; color:#52555A;letter-spacing:.02rem; ">
                                        												Thank you,
                                        											</td>
                                        										</tr>
                                        										<tr>
                                        											<td height="16px" style="font-size:16px; line-height:16px;">&nbsp;</td>
                                        										</tr>
                                        										<tr>
                                        											<td valign="top" style="font-family: 'Source Sans Pro', sans-serif; font-size:18px; font-weight:300; line-height:24px; color:#52555A;letter-spacing:.02rem; ">
                                        												The Billing Team at AIG Private Client Group
                                        											</td>
                                        										</tr>

                                        									</table>
                                        								</td>
                                        							</tr>
                                        							<tr>
                                        								<td height="48" style="font-size:48px; line-height:48px;">&nbsp;</td>
                                        							</tr>
                                        						</table>
                                        						<table width="550" cellpadding="0" cellspacing="0" border="0">
                                        							<tr>
                                        								<td height="24" style="font-size:24px; line-height:24px;">&nbsp;</td>
                                        							</tr>
                                        						<tr>
                                        								<td align="left" style="font-family: 'Source Sans Pro', sans-serif; font-size:12px; color:#52555A;">
                                        									AIG is the marketing name for the worldwide property-casualty, life and retirement, and general insurance operations of American International Group, Inc. AIG Private Client Group is a division of the member companies of American International Group, Inc. For additional information, please visit our website at <a href="http://www.aig.com" target="_blank">www.aig.com</a>. All products and services are written or provided by subsidiaries or affiliates of American International Group, Inc. Products or services may not be available in all countries, and coverage is subject to actual policy language. Non-insurance products and services may be provided by independent third parties. Certain property-casualty coverages may be provided by a surplus lines insurer. Surplus lines insurers do not generally participate in state guaranty funds, and insureds are therefore not protected by such funds.
                                        								</td>
                                        							</tr>
                                        							<tr>
                                        								<td height="24" style="font-size:24px; line-height:24px;">&nbsp;</td>
                                        							</tr>

                                        							<tr>
                                        								<td align="left" style="font-family: 'Source Sans Pro', sans-serif; font-size:12px; color:#52555A;">
                                        									IMPORTANT NOTICE: The information in this email (and any attachments hereto) is confidential and may be protected by legal privileges and work product immunities. If you are not the intended recipient, you must not use or disseminate the information. Receipt by anyone other than the intended recipient is not a waiver of any attorney-client or work product privilege. If you have received this email in error, please immediately notify me by "Reply" command and permanently delete the original and any copies or printouts thereof. Although this email and any attachments are believed to be free of any virus or other defect that might affect any computer system into which it is received and opened, it is the responsibility of the recipient to ensure that it is virus free and no responsibility is accepted by American International Group, Inc. or its subsidiaries or affiliates either jointly or severally, for any loss or damage arising in any way from its use.
                                        								</td>
                                        							</tr>
                                        							<tr>
                                        								<td height="24" style="font-size:24px; line-height:24px;">&nbsp;</td>
                                        							</tr>
                                        						</table>
                                        					</td>
                                        				</tr>
                                        			</table>
                                        		</center>
                                        	</body>
                                        </html>
